<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.java 연결 -->
<mapper namespace="com.java.www.mapper.BoardMapper">
   <!-- 게시글 전체 가져오기 -->
   <select id="selectAll" resultType="com.java.www.dto.BoardDto">
  	 <![CDATA[
       select * from ( select rownum rnum, a.* from
       ( select * from board order by bgroup desc, bstep asc ) a )
       where rnum>=1 and rnum<=20
       ]]>
   </select>
   <select id="selectOne" resultType="com.java.www.dto.BoardDto">
   		select * from board where bno = #{bno}
   </select>
   <select id="selectPrev" resultType="com.java.www.dto.BoardDto">
   		select * from 
   		(select rownum rnum, a.* from (select * from board order by bgroup desc, bstep asc) a)
   		where rnum = (select rnum from (select rownum rnum, a.* from (select * from board order
   		 by bgroup desc, bstep asc) a)where bno = #{bno})+1
   		
   </select>
   <select id="selectNext" resultType="com.java.www.dto.BoardDto">
   		select * from 
   		(select rownum rnum, a.* from (select * from board order by bgroup desc, bstep asc) a)
   		where rnum = (select rnum from (select rownum rnum, a.* from (select * from board order
   		 by bgroup desc, bstep asc) a)where bno = #{bno})-1
   </select>

</mapper>