<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MemberMapper.java 연결 -->
<mapper namespace="com.java.www.mapper.BoardMapper">
   <select id="selectAll" resultType="com.java.www.dto.BoardDto">
      select * from(select rownum rnum, a.* from 
      (select * from board
      <if test="category=='btitle' or category == 'bcontent'">
      	where ${category} like '%'||#{sWord} || '%'
      </if>
      <if test="category=='all'">
      	where btitle like '%'||#{sWord}||'%' or bcontent like '%'||#{sWord}|| '%'
      </if>
      order by bgroup desc, bstep asc) a) 
      where rnum between #{startRow} and #{endRow}
   </select>
   <select id="selectCountAll" resultType="int">
   		select count(*) from board
   		<if test="category == 'btitle' or category == 'bcontent'">
   		where ${category} like '%'||#{sWord}||'%'
   		</if> 
   		<if test="category == 'all'">
   		where bcontent like '%'||#{sWord}||'%' or bcontent like '%'||#{sWord}||'%'
   		</if> 
   </select>
   
   
   
   
   
   
   <select id="selectOne" resultType="com.java.www.dto.BoardDto">
      select * from board where bno=#{bno}
   </select>
   
   <select id="bCommentSelectAll" resultType="com.java.www.dto.BCommentDto">
      select * from ecomment where bno=#{bno} order by cno desc
   </select>
   
   <insert id="bCommentInsert">
     <selectKey resultType="com.java.www.dto.BCommentDto" keyProperty="cno,cdate" order="BEFORE">
        select ecomment_seq.nextval cno,sysdate cdate from dual
     </selectKey>
     insert into ecomment values (#{cno},#{bno},#{id},#{cpw},#{ccontent},#{cdate} )
   </insert>
   
   <select id="bCommentSelectOne" resultType="com.java.www.dto.BCommentDto">
     select * from ecomment where cno=#{cno}
   </select>
   
   <delete id="bCommentDelete">
     delete ecomment where cno=#{cno}
   </delete>
   
   <update id="BCommentUpdate">
     update ecomment set ccontent=#{ccontent},cdate=sysdate where cno=#{cno}
   </update>
   
  
   
   
   
</mapper>