<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- Mapper.java연결 -->
    <mapper namespace="com.java.www.mapper.AlramMapper">
    	<select resultType="com.java.www.dto.AlramDto" id="selectAlram">
    		select * from alram where user_id = #{user_id} and checked = 0 or checked = 1
    	</select>
    	<select resultType="com.java.www.dto.AlramDto" id="selectChecked">
    		select * from alram where user_id = #{user_id} and checked = 1 
    	</select>
    	<update id="delectAlram">
    		update alram set checked = '2' where alram_id = #{alram_id}	
    	</update>
    </mapper>